
a:link, a:visited {
  background-color: white;
  color: red;
  padding: 15px 25px;
  text-align: center;
  text-decoration:none;
  display: inline-block;
  border: 2px solid red;
}

a:hover, a:active {
  background-color: whitesmoke;
}

input {
  width: 98%;
  padding: 10px;
  margin: 5px;
}

input:focus {
  border: 3px solid black;
}